<h2>Upgrade Your Account</h2>
   <div class="row">
     <div class="col-md-8">
       <form method="POST" action="/charge">
         <script
         src="https://checkout.stripe.com/checkout.js"
         class="stripe-button"
         data-key="pk_test_JDZvx8OhUooVhIhOva3O7Iqt00J5Ds7PYK"
         data-amount="500"
         data-name="Premium Account"
         data-description="Premium Account create private wikis"
         data-locale="auto"
         data-zip-code="true">
    </script>
       </form>
     </div>
   </div>
